* {
    margin: 0;
    padding: 0;
}

.header {
    /*position: absolute;*/
    display: block;
    top: 0px;
    left: 0px;
    width: 1150px;
    height: 70px;
    /*background-color: skyblue;*/
    margin-left: 50px;
    /*z-index: 101;*/
    border-bottom: 2px solid grey;
}

.header-left-logo {
    float: left;
    width: 70px;
    height: 50px;
    /*background-color: rgb(255, 0, 0);*/
    border-right: 2px solid grey;
    margin-top: 10px;
}

.header-left-logo .logo {
    float: left;
    margin-top: 4px;
    margin-left: 14px;
    border: none;
}

.header-left-title {
    float: left;
    font-family: Cursive;
    font-size: 30px;
    width: 150px;
    /*background-color: yellow;*/
    margin-left: 20px;
    margin-top: 15px;
}

.header-right-explore .link-to-explore {
    float: right;
    width: 85px;
    height: 25px;
    /*background-color: yellow;*/
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Sans-serif;
    border-right: 2px solid grey;
    color: black;
}

.header-right-explore .link-to-name {
    float: right;
    width: 100px;
    height: 25px;
    /*background-color: yellow;*/
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
    font-family: Sans-serif;
    color: black;
}

.header-right-explore p {
    float: right;
    font-family: Sans-serif;
    margin-right: 100px;
    margin-top: 25px;
    font-size: 22px;
}

form {
    margin-left: 150px;
    margin-top: 100px;
}

.create-word {
    margin-left: 150px;
    margin-top: 30px;
    float: left;
}

.create-link {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.create-link:hover {
    color: blue;
}

.info {
    margin-left: 150px;
    margin-top: 50px;
    /*background-color: blue;*/
    margin-bottom: -30px;
}

.username {
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 16px;
}