* {
    margin: 0;
    padding: 0;
}

.header {
    /*position: absolute;*/
    display: block;
    top: 0px;
    left: 0px;
    width: 1150px;
    height: 70px;
    /*background-color: skyblue;*/
    margin-left: 50px;
    /*z-index: 101;*/
    border-bottom: 2px solid grey;
}

.header-left-logo {
    float: left;
    width: 70px;
    height: 50px;
    /*background-color: rgb(255, 0, 0);*/
    border-right: 2px solid grey;
    margin-top: 10px;
}

.header-left-logo .logo {
    float: left;
    margin-top: 4px;
    margin-left: 14px;
    border: none;
}

.header-left-title {
    float: left;
    font-family: Cursive;
    font-size: 30px;
    width: 150px;
    /*background-color: yellow;*/
    margin-left: 20px;
    margin-top: 15px;
}

.header-right-explore .link-to-explore {
    float: right;
    width: 85px;
    height: 25px;
    /*background-color: yellow;*/
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Sans-serif;
    border-right: 2px solid grey;
    color: black;
}

.header-right-explore .link-to-name {
    float: right;
    width: 100px;
    height: 25px;
    /*background-color: yellow;*/
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
    font-family: Sans-serif;
    color: black;
}

.discover-word {
    font-size: 28px;
    margin-left: 150px;
    margin-top: 60px;
    width: 350px;
    height: 50px;
    /*background-color: yellow;*/
}

.not-following-container {
    width: 850px;
    /*background-color: blue; */
    height: 80px;
    margin-top: 30px;
    margin-left: 150px;
    border: 2px solid grey;
}

.not-following-container img {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
    height: 55px;
}

.not-following-container a {
    cursor: pointer;
    text-decoration: none;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
    color: black;
    font-size: 18px;
}

.not-following-container form {
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}