* {
    margin: 0;
    padding: 0;
}

.header {
    /*position: absolute;*/
    display: block;
    top: 0px;
    left: 0px;
    width: 1150px;
    height: 70px;
    /*background-color: skyblue;*/
    margin-left: 50px;
    /*z-index: 101;*/
    border-bottom: 2px solid grey;
}

.header-left-logo {
    float: left;
    width: 70px;
    height: 50px;
    /*background-color: rgb(255, 0, 0);*/
    border-right: 2px solid grey;
    margin-top: 10px;
}

.header-left-logo .logo {
    float: left;
    margin-top: 4px;
    margin-left: 14px;
    border: none;
}

.header-left-title {
    float: left;
    font-family: Cursive;
    font-size: 30px;
    width: 150px;
    /*background-color: yellow;*/
    margin-left: 20px;
    margin-top: 15px;
}

.header-right-explore .link-to-explore {
    float: right;
    width: 85px;
    height: 25px;
    /*background-color: yellow;*/
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Sans-serif;
    border-right: 2px solid grey;
    color: black;
}

.header-right-explore .link-to-name {
    float: right;
    width: 100px;
    height: 25px;
    /*background-color: yellow;*/
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
    font-family: Sans-serif;
    color: black;
}

.profile-container {
    /*position: absolute;*/
    height: 900px;
    /*	top: 100px;
	left: 0px;*/
    width: 900px;
    /*background-color: skyblue;*/
    margin-left: 150px;
    margin-top: 100px;
    /*border: 2px solid grey;*/
}

.profile-container .profile-username {
    font-size: 40px;
    line-height: 50px;
}

.profile-container .stats-container {
    font-size: 20px;
    line-height: 40px;
}

.profile-container .stats-container a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.profile-container .profile-page-photo {
    margin-left: 30px;
    margin-top: 30px;
}

.relationship {
    float: left;
    /*background-color: red;*/
}