<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/accounts.css">
</head>

<body>
    <div class="header">
        <div class="header-left-logo">
            <a href="/">
                <img src="/static/images/logo.jpeg" class="logo" width="55" height="40" alt="ins485logo">
            </a>
        </div>
        <div class="header-left-title">Insta 485</div>
        <div class="header-right-explore">
            <a href="/explore/" class="link-to-explore">explore</a>
            <a href="/users/{{ logname }}/" class="link-to-name">{{ logname }}</a>
        </div>
    </div>

    <div class="info">
        <a href="/users/{{ logname }}/">
            <img src="{{ img_url }}" class="profile-picture" alt="profile picture" />
        </a>
        <a href="/users/{{ logname }}/" class="username">{{ logname }}</a>
    </div>

    <!-- Edit the login user's fullname and email -->
    <form action="/accounts/?target={{ url_for('edit') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" />
        <input type="text" name="fullname" value="{{ fullname }}" />required />
        <input type="text" name="email" value="{{ email }}" required />
        <input type="submit" name="update" value="submit" />
        <input type="hidden" name="operation" value="edit_account" />
    </form>

    <a href="/accounts/password/" class="create-link" style="margin-left: 150px;">Change password</a>
    <a href="/accounts/delete/" class="create-link" styple="margin-left: -120px">Delete account</a>

</body>

</html>