<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/following.css">
</head>

<body>
    <div class="header">
        <div class="header-left-logo">
            <a href="/">
                <img src="/static/images/logo.jpeg" class="logo" width="55" height="40" alt="ins485logo">
            </a>
        </div>
        <div class="header-left-title">Insta 485</div>
        <div class="header-right-explore">
            <a href="/explore/" class="link-to-explore">explore</a>
            <a href="/users/{{ logname }}/" class="link-to-name">{{ logname }}</a>
        </div>
    </div>

    <div class="following-container">
        <div class="following-word">
            <p>Following</p>
        </div>
        <div class="icon-container">
            {% for follow in following %}
            <div class="following-container" id="{{ follow.username }}">
                <img class="following-icon" src="{{ follow.user_img_url }}" alt="following profile photo" />
                <a href="/users/{{ follow.username }}/">{{ follow.username }}</a>
                <div class="following-space">
                    {% if follow.username != logname %}
                    {% if follow.logname_follows_username %}
                    <h3 class="relationship">following</h3>
                    <form action="/following/?target={{ url_for('show_following', username=username) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="submit" name="unfollow" value="unfollow" />
                        <input type="hidden" name="username" value="{{ follow.username }}" />
                        <input type="hidden" name="operation" value="unfollow" />
                    </form>
                    {% else %}
                    <h3 class="relationship">not following</h3>
                    <form action="/following/?target={{ url_for('show_following', username=username) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="submit" name="follow" value="follow" />
                        <input type="hidden" name="username" value="{{ follow.username }}" />
                        <input type="hidden" name="operation" value="follow" />
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>