<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="linksTop">
        <a href="/">Home</a>
        <div class="linksR">
            <a href="/explore/">Explore</a>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>
    </div>

    <!--
    <div id="postContainer">
        {%for item in posts %}
        <div class="post" id="{{ item.postid }}">

            <div class="post-inline">
                <div class="user-post-info">
                    <a href="/users/{{ item.owner }}/">
                        <img class="post-profile-photo" src="{{ item.owner_img_url }}" alt="profile photo" />
                        <p class="post-username">{{ item.owner }}</p>
                    </a>
                </div>
                <div class="post-details">
                    <a class="timestamp" href="/posts/{{ item.postid }}/">{{ item.timestamp }}</a>
                </div>
            </div>

            <div class="post-image">
                <img id="p{{ item.postid }}-img" src="{{ item.img_url }}" alt="instagram image" />
            </div>

            <div class="below-post">
                {% if item.likes == 1 %}
                <h1 class="likes">{{ item.likes }} like</h1>
                {% else %}
                <h1 class="likes">{{ item.likes }} likes</h1>
                {% endif %}
                <div class="comments">
                    {% for comment in item.comments %}
                    <div class="comment">
                        <a class="comment-username" href="/users/{{ comment.owner }}/">{{ comment.owner }}</a>
                        <h3 class="comment-content">{{ comment.text }}</h3>
                    </div>
                    {% endfor %}
                </div>

                {% if item.like_or_not == 0 %}
                
                <form action="/likes/?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="like" />
                    <input type="hidden" name="postid" value="{{ item.postid }}" />
                    <input type="submit" name="like" value="like" />
                </form>
                {% else %}
                
                <form action="/likes/?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="unlike" />
                    <input type="hidden" name="postid" value="{{ item.postid }}" />
                    <input type="submit" name="like" value="unlike" />
                </form>
                {% endif %}

                
                <form action="/comments/?target={{ url_for('show_index') }}" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="create" />
                    <input type="hidden" name="postid" value="{{ item.postid }}" />
                    <input type="text" name="text" required />
                    <input type="submit" name="comment" value="comment" />
                </form>
            </div>
        </div>
        {% endfor %}
    </div> -->

    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>

</html>