<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="linksTop">
        <a href="/">Home</a>
        <div class="linksR">
            <p>login</p>
        </div>
    </div>

    <!-- Have two boxes to fill in username and password -->
    <form action="/accounts/?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="username" required /><br><br>
        <input type="password" name="password" placeholder="password" required /><br><br>
        <input type="submit" value="login" />
        <input type="hidden" name="operation" value="login" />
    </form>

    <div class="below-login">
        <p class="create_word">Don't have an account?</p>
        <a href="/accounts/create/" class="create_link">Sign up</a>
    </div>
</body>

</html>