<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/accounts.css">
</head>

<body>
    <div class="header">
        <div class="header-left-logo">
            <a href="/">
                <img src="/static/images/logo.jpeg" class="logo" width="55" height="40" alt="ins485logo">
            </a>
        </div>
        <div class="header-left-title">Insta 485</div>
        <div class="header-right-explore">
            <p>login</p>
        </div>
    </div>

    <!-- Have two boxes to fill in username and password -->
    <form action="/accounts/?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="username" required /><br><br>
        <input type="password" name="password" placeholder="password" required /><br><br>
        <input type="submit" value="login" />
        <input type="hidden" name="operation" value="login" />
    </form>

    <div class="below-login">
        <p class="create-word">Don't have an account?</p>
        <a href="/accounts/create/" class="create-link">Sign up</a>
    </div>
</body>

</html>