<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/post.css">
</head>

<body>
    <div class="header">
        <div class="header-left-logo">
            <a href="/">
                <img src="/static/images/logo.jpeg" class="logo" width="55" height="40" alt="ins485logo">
            </a>
        </div>
        <div class="header-left-title">Insta 485</div>
        <div class="header-right-explore">
            <a href="/explore/" class="link-to-explore">explore</a>
            <a href="/users/{{ logname }}/" class="link-to-name">{{ logname }}</a>
        </div>
    </div>

    <div class="post-container">
        <div class="post" id="{{ postid }}">
            <div class="post-inline">
                <div class="user-post-info">
                    <a href="/users/{{ owner }}/">
                        <img class="post-profile-photo" src="{{ owner_img_url }}" width="40" alt="profile photo" />
                        <p class="post-username">{{ owner }}</p>
                    </a>
                </div>
                <div class="post-details">
                    <a class="timestamp" href="/posts/{{ postid }}/">{{ timestamp }}</a>
                </div>
            </div>
            <div class="post-image">
                <img id="p{{ postid }}-img" src="{{ img_url }}" width="500" alt="instagram image" />
            </div>
            <div class="below-post">
                {% if likes == 1 %}
                <h1 class="likes">{{ likes }} like</h1>
                {% else %}
                <h1 class="likes">{{ likes }} likes</h1>
                {% endif %}
                <div class="comments">
                    {% for comment in comments %}
                    <div class="comment">
                        <a class="comment-username" href="/users/{{ comment.owner }}/">{{ comment.owner }}</a>
                        <h3 class="comment-content">{{ comment.text }}</h3>
                    </div>

                    {% if comment.owner == logname %}
                    <!-- If the comment is own by the logname, have an option to delete the comment -->
                    <form action="/comments/?target={{ url_for('show_post', postid=postid) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="delete" />
                        <input type="hidden" name="commentid" value="{{ comment.commentid }}" />
                        <input type="submit" name="uncomment" value="delete" />
                    </form>
                    {% endif %}

                    {% endfor %}
                </div>

                <div class="button">
                    {% if like_or_not == 0 %}
                    <!-- If don't like, produce an unlike button -->
                    <form action="/likes/?target={{ url_for('show_post', postid=postid) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="like" />
                        <input type="hidden" name="postid" value="{{ postid }}" />
                        <input type="submit" name="like" value="like" />
                    </form>
                    {% else %}
                    <!-- If already like, produce an like button -->
                    <form action="/likes/?target={{ url_for('show_post', postid=postid) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="unlike" />
                        <input type="hidden" name="postid" value="{{ postid }}" />
                        <input type="submit" name="unlike" value="unlike" />
                    </form>
                    {% endif %}

                    <!-- Have an option to comment on this post -->
                    <form action="/comments/?target={{ url_for('show_post', postid=postid) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="create" />
                        <input type="hidden" name="postid" value="{{ postid }}" />
                        <input type="text" name="text" required />
                        <input type="submit" name="comment" value="comment" />
                    </form>

                    {% if owner == logname %}
                    <!-- Have an option to delete this post -->
                    <form action="/posts/?target={{ url_for('show_user', username=logname) }}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="delete" />
                        <input type="hidden" name="postid" value="{{ postid }}" />
                        <input type="submit" name="delete" value="delete this post" />
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>